.wrapper {
    padding: 1.5rem;
    display: grid;
    gap: 1rem;

    height: max-content;

    background: var(--clr-neutral-100);
}

.wrapper>h1 {
    text-align: center;
    color: var(--clr-neutral-000);
}

.container {
    display: grid;
    gap: 1rem;
}

.task-container {
    display: grid;
    place-items: center;
    gap: 1rem;
}