.wrapper {
    display: grid;
    grid-template-rows: 10rem auto;
}

.main {
    display: flex;
    justify-content: space-evenly;
}

.task-column {
    padding: 1rem;
    background: skyblue;
    width: 20rem;
}