:root {
    --clr-neutral-200: #181818;
    --clr-neutral-100: #2f2f2f;
    --clr-neutral-050: #3a3a3a;
    --clr-neutral-000: #e4e4e4;

    --clr-red: #fd7b7b;

    --clr-primary: #00e075;
    --clr-primary-2: rgb(127, 250, 191);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2rem;

    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    display: grid;
    place-content: center;
    background: var(--clr-neutral-200);
    color: var(--clr-neutral-000);
}